.card{
    margin-bottom: 20px;
    width: 100%;
    min-height: 80px;
    background-color: var(--blanco);
    box-shadow: var(--sombra);
    display: flex;
    border-radius: 10px;
}

.dia{
    width: 80px;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azulSecundario);
    color: var(--blanco);
    padding: 5px;
    border-radius: 10px;
}

.dia p{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.info{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    flex: auto;
}

.curso{
    font-weight: 700;
}

.iconos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.icono{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.icono i{
    font-size: 24px;
}

.icono p{
    font-size: 14px;
    color: var(--subtitulos);
}