.carrusel{
    margin-top: var(--separacion);
}

.encabezado{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.encabezado figure{
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.encabezado figure img{
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.nombre{
    font-weight: 700;
    font-size: 24px;
}

.puesto{
    color: var(--textoAlternativo);
}

.texto{
    min-height: 150px;
    line-height: 1.6;
}

.botones button{
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}


.botones button i{
    font-size: 42px;
    color: var(--grisAzul);
}