.header{
    width: 100%;
    height: calc(100vh - 250px);
    background-color: var(--azulPrincipal);
    color: var(--blanco);
    margin-bottom: 100px;
    position: relative;
}

.relative{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.texto{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    z-index: 20;
}

.aprender{
    font-size: 28px;
    font-weight: 300;
}

.titulo{
    font-size: 52px;
    width: 50%;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
}

@media (max-width: 1280px) {
    .titulo{
        font-size: 42px;
    }
}

@media (max-width: 1024px) {
    .titulo{
        width: 80%;
    }
}

@media (max-width: 680px) {
    .titulo{
        width: 100%;
    }
}

@media (max-width: 680px) {
    .titulo{
        width: 100%;
    }
}

.frase{
    font-size: 24px;
    font-weight: 300;
    width: 40%;
}

@media (max-width: 1280px) {
    .frase{
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .frase{
        width: 60%;
    }
}

@media (max-width: 680px) {
    .frase{
        width: 80%;
    }
}

.link{
    padding: 10px 20px;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;    
    border: 1px solid var(--blanco);
}

.link i{
    transform: rotate(180deg);
}

.imagen{
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 1280px) {
    .imagen{
        top: 10%;
    }
}

@media (max-width: 1024px) {
    .imagen{
        display: none;
    }
}

.imagen figure{
    position: relative;
    width: 650px;
    height: 780px;
}

@media (max-width: 1536px) {
    .imagen figure{
        width: 600px;
        height: 750px;
    }
}

@media (max-width: 1280px) {
    .imagen figure{
        width: 500px;
        height: 580px;
    }
}

.imagen figure img{
    object-fit: cover;
    object-position: center;
}

