.seccion{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1024px) { 
    .seccion{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}

.subtitulo{
    padding: 40px;
    background-color: var(--azulSecundarioT);
    color: var(--blanco);
}

.encabezado{
    font-size: 36px;
    margin-bottom: 20px;    
    color: var(--grisAzul);
}

.frase{
    font-weight: 300;
    line-height: 1.4;
    color: var(--textoAlternativo);
}

.grid{
    grid-column: 2/4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1024px) { 
    .grid{
        grid-column: 1/2;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 768px) { 
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

.tarjeta{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 40px 60px;
    background-image: var(--degradado2)
}

@media (max-width: 1024px) { 
    .tarjeta{
        box-shadow: var(--sombra);
    }
}

.tarjeta i{
    font-size: 32px;
    color: var(--azulSecundario);
}

.titulo{
    font-weight: 700;
    margin: 10px 0;
    font-size: 18px;
    text-align: center;
}

.info{
    text-align: center;
    font-weight: 300;
    line-height: 1.4;
    color: var(--textoAlternativo);
}