@import '../base/mixins';

// *Contenedor de la sección-----------------------------------------
.seccion {
    @include separacion;
    @include grid(3, 8rem);

    @include escritorioXl {
        @include grid(1, 4rem);
    }
}

// *Descripción de la sección----------------------------------------
.descripcion{

    @include escritorioXl {
        grid-column: 1/2;
    }

    .encabezado{
        font-size: $heading-md;
        margin-bottom: 2rem;    
        @include frase2($texto-principal-700);
    }

    .frase{
        font-weight: 300;
        line-height: $line-height-3;
        color: $texto-slate-500;
    }
}

// *Grid de las soluciones-------------------------------------------
.soluciones {
    grid-column: 2/4;
    @include grid(2, 0);
    box-shadow: $sombra1;

    @include escritorioXl {
        grid-column: 1/2;
    }

    @include telefono {
        @include grid(1, 2rem);
    }

    .tarjeta {
        @include flex(center, flex-start, 1rem, row);
        padding: 4rem 6rem;
        border-top: 1px solid $slate-200;
        border-right: 1px solid $slate-200;

        @include tablet {
            @include flex(center, center, 1rem, column);
        }

        .icono {
            @include caja(5rem, 5rem, 0, 0);
            @include flex(center, center, 0, row);
            border-radius: 50%;
            border: 1px solid $slate-200;
            background: $bg-slate-100;

            i{
                font-size: $icono3;
                color: $texto-principal-700;

            }
        }

        .contenido {
            
            .titulo {
                font-weight: 700;
                font-size: $parrafo-md;
                margin-bottom: 1rem;

                @include tablet {
                    text-align: center;
                }
            }
    
            .info {
                font-weight: 300;
                line-height: $line-height-1;
                color: $texto-slate-500;

                @include tablet {
                    text-align: center;
                }
            }
        }
    }
}