.card{
    margin-top: 20px;
    padding: 20px;
    border: 1px solid var(--borde);
}

.card p{
    margin-bottom: 10px;
}

.card p:last-of-type{
    margin-bottom: 0;
}

.card p i{
    margin-right: 5px;
}

.card p span{
    font-weight: 700;
}