/*------------------------------- Grid -------------------------------*/
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    'temario temario fechas'
    'formulario formulario fechas';
    gap: 40px;
}

@media (max-width: 1024px) { 
    .grid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        'temario'
        'fechas'
        'formulario';
    }
}

.grid h3{
    color: var(--azulSecundario);
}

.temario{
    grid-area: temario;
}

.fechas{
    grid-area: fechas;
}

.formulario{
    grid-area: formulario;
}

/*--------------------------- Temario ---------------------------*/

.temario ul{
    margin-top: 20px;
    padding: 10px 0;
    border-left: 2px solid var(--azulSecundario);
}

.temario ul li{
    padding: 5px 40px;
    color: var(--textoAlternativo);
}