.header{
    background-color: var(--grisFondo);
    min-height: 350px;
}

.curso{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
    height: 100%;
}

@media (max-width: 768px) {
    .curso{
        display: flex;
        flex-direction: column-reverse;
    }
}

.info{
    width: 60%;
}

@media (max-width: 768px) {
    .info{
        width: 100%;
    }
}

.titulo{
    font-size: 42px;
    margin-bottom: 40px;

}

.descripcion{
    line-height: 1.4;
    font-size: 14px;
}

.imagen{
    border-radius: 10px;
    box-shadow: var(--sombra);
    object-fit: cover;
    object-position: center;
}

@media (max-width: 768px) {
    .imagen{
        width: 100%;
    }
}