@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

/* screens: {
  'sm': '640px',
  => @media (max-width: 640px) { ... }

  'md': '768px',
  => @media (max-width: 768px) { ... }

  'lg': '1024px',
  => @media (max-width: 1024px) { ... }

  'xl': '1280px',
  => @media (max-width: 1280px) { ... }

  '2xl': '1536px',
  => @media (max-width: 1536px) { ... } */

:root{
  --azulPrincipal: #09203F;
  --azulSecundario: #00427D;
  --azulSecundarioT: #0c3f6917;
  --grisFondo: #F8F8F8;
  --borde: #e9e9e9;
  --blanco: #fff;
  --blancoT: #ffffff2a;
  --grisAzul: #537895;
  --texto: #334155;
  --subtitulos: #454D54;
  --textoAlternativo: #7d7d7d;
  --textoAzul: #4C6578;
  --enlaces: #8FA0B0;
  --oscuro: #1B2A36;
  --degradado1: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  --degradado2: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  --sombra:  0px 0px 26px 0px rgba(0,0,0,0.2);
  --separacion: 50px;
}

*, ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--grisFondo);
  color: var(--texto);
}

.contenedor{
  width: 90%;
  margin: 0 auto;
}

.margen{
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  padding: var(--separacion) 0;
}

@media (max-width: 1280px) {
  .margen{
      width: 90%;
  }
}

img{
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
}

h2{
  font-size: 20px;
  font-weight: 400;
  color: var(--textoAzul);
}

.subtitulo{
  color: var(--textoAzul);
  text-align: center;
}

.subtitulo p{
  font-size: 36px;
  width: 60%;
  margin: 30px auto 60px auto;
  color: var(--azulSecundario);
}

.titulo_seccion{
  color: var(--textoAzul);
}

li{
  list-style: none;
}

.ver_mas{
  width: 120px;
  color: var(--texto);
  background-image: var(--degradado1);
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ver_mas p{
  align-self: center;
}