@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

// *Fuentes--------------------------------------------------------
$fuentePrincipal: 'Roboto', sans-serif;

// *Tamaños de pantalla--------------------------------------------
$telefono       : 576px;
$tablet         : 768px;
$escritorio     : 1024px;
$escritorio-xl  : 1280px;
$escritorio-2xl : 1536px;
$horizontal     : 650px;

// *Paleta de colores------------------------------------------------
$principal     : #09203F;
$negro         : #000;
$blanco        : #fff;
$slate         : #334155;

// *Degradados------------------------------------------------------
$degradado1    : linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
$degradado2    : linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
$degradado3    : linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);

// *Sombras---------------------------------------------------------
$sombra1        : 0px 0px 26px 0px rgba(0,0,0,0.2);
$sombra2        : 0px 0px 5px 0px rgba(0, 0, 0, 0.3);

// *Variaciones de colores principales------------------------------
$principal-50       : lighten($principal, 75);  
$principal-100      : lighten($principal, 70);  
$principal-200      : lighten($principal, 60);  
$principal-300      : lighten($principal, 50);  
$principal-400      : lighten($principal, 40);  
$principal-500      : lighten($principal, 30);  
$principal-600      : lighten($principal, 20);  
$principal-700      : lighten($principal, 18);  
$principal-800      : lighten($principal, 8);  
$principal-900      : lighten($principal, 0);  

$slate-50           : lighten($slate, 75);  
$slate-100          : lighten($slate, 70);  
$slate-200          : lighten($slate, 60);  
$slate-300          : lighten($slate, 50);  
$slate-400          : lighten($slate, 40);  
$slate-500          : lighten($slate, 30);  
$slate-600          : lighten($slate, 20);  
$slate-700          : lighten($slate, 18);  
$slate-800          : lighten($slate, 8);  
$slate-900          : lighten($slate, 0);

// *Espacio entre parrafos-----------------------------------------
$line-height-1    : 1.4;
$line-height-2    : 1.6;
$line-height-3    : 1.8;
$line-height-4    : 2.0;

// *Tamaño de Encabezados------------------------------------------
$heading-2xl    : 5.2rem;
$heading-xl     : 4.2rem;
$heading-md     : 3.6rem;
$heading-sm     : 2.4rem;
$heading-xs     : 2.0rem;

// *Tamaño de parrafos---------------------------------------------
$parrafo-xl    : 2.0rem;
$parrafo-md    : 1.8rem;
$parrafo-sm    : 1.6rem;
$parrafo-xs    : 1.4rem;

// *Tamaño de iconos-----------------------------------------------
$icono1        : 1.6rem;
$icono2        : 1.8rem;
$icono3        : 2.4rem;
$icono4        : 3.2rem;
$icono5        : 4.2rem;

// *Color de fondos------------------------------------------------
$bg-principal-50        : $principal-50;
$bg-principal-100       : $principal-100;
$bg-principal-200       : $principal-200;
$bg-principal-300       : $principal-300;
$bg-principal-400       : $principal-400;
$bg-principal-500       : $principal-500;
$bg-principal-600       : $principal-600;
$bg-principal-700       : $principal-700;
$bg-principal-800       : $principal-800;
$bg-principal-900       : $principal-900;

$bg-slate-50            : $slate-50;
$bg-slate-100           : $slate-100;
$bg-slate-200           : $slate-200;
$bg-slate-300           : $slate-300;
$bg-slate-400           : $slate-400;
$bg-slate-500           : $slate-500;
$bg-slate-600           : $slate-600;
$bg-slate-700           : $slate-700;
$bg-slate-800           : $slate-800;
$bg-slate-900           : $slate-900;

$bg-blanco              : $blanco;
$bg-negro               : $negro;
$bg-degradado1          : $degradado1;
$bg-degradado2          : $degradado2;
$bg-degradado3          : $degradado3;

// *Colores de texto-----------------------------------------------
$texto-principal-50        : $principal-50;
$texto-principal-100       : $principal-100;
$texto-principal-200       : $principal-200;
$texto-principal-300       : $principal-300;
$texto-principal-400       : $principal-400;
$texto-principal-500       : $principal-500;
$texto-principal-600       : $principal-600;
$texto-principal-700       : $principal-700;
$texto-principal-800       : $principal-800;
$texto-principal-900       : $principal-900;

$texto-slate-50            : $slate-50;
$texto-slate-100           : $slate-100;
$texto-slate-200           : $slate-200;
$texto-slate-300           : $slate-300;
$texto-slate-400           : $slate-400;
$texto-slate-500           : $slate-500;
$texto-slate-600           : $slate-600;
$texto-slate-700           : $slate-700;
$texto-slate-800           : $slate-800;
$texto-slate-900           : $slate-900;

$texto-blanco              : $blanco;
$texto-negro               : $negro;
$texto-degradado1          : $degradado1;
$texto-degradado2          : $degradado2;
$texto-degradado3          : $degradado3;