@import '../base/mixins';

// *Seccion-----------------------------------------------------
.seccion {
    @include seccion(0, 8rem 0);
    background: $bg-slate-100;

    h1, p {
        text-align: center;
    }

    p {
        margin-top: 1rem;
        color: $texto-principal-600;
        
        a{
            color: $texto-principal-600;
        }
    }
}